#sidenav{
    width: 300px;
    height: 100vh;
    background-color: skyblue;
}
li{
    list-style-type: circle;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}